@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
$org: #FF781F; 
@mixin flex($jus: center, $alg: center){
    display: flex;
    justify-content: $jus;
    align-items: $alg;
}
@mixin dimension($ln, $hg){
    width: $ln;
    height: $hg;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Nunito', sans-serif;
    // font-family: 'Indie Flower', cursive;
    // font-family: 'Patrick Hand', cursive;
}

html {
    font-size: 12px;
    @media (min-width: 700px) {
      font-size: calc(10px + 0.5vw);
    }
    scroll-behavior: smooth;
  }

/*Front Page*/
#vid{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -99;
  }

  .front_container{
      @include dimension(100%, 100vh);
      @include flex(space-between, none);
      flex-direction: column;
      .intro{
          color: #fff;
          text-align: center;
          padding: 35vh 1.2vw 0 1.2vw;
          h1{
              font-size: 3rem;
              font-family: 'Merienda', cursive;
              .orange{
                  color: $org;
                  font-size: 4rem;
                  cursor: pointer;
              }
          }
          button{
              background-color: transparent;
              color: #fff;
              border: 1px solid $org;
              outline: none;
              padding: 1vh 2vw;
              margin-top: 2vh;
              border-radius: 5px;
              font-family: 'Nunito', sans-serif;
              transition: 400ms;
              font-size: 1rem;
              &:hover{
                  border-radius: 10px;
              }
            }
      }
      .arrow{
          text-align: center;
          a{
              color: #fff;
              text-decoration: none;
              cursor: pointer;
          }
      }
      .bounce{
          animation: bounce 2s infinite;
      }
      @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
          }
          40% {
            transform: translateY(-30px);
          }
          60% {
            transform: translateY(-15px);
          }
      }
      nav{
          padding: 2vh;
          backdrop-filter: blur( 2px );
          -webkit-backdrop-filter: blur( 10px );
          border-top: 1px solid rgba(59, 59, 59, 0.274);
          a{
              text-decoration: none;
              color: #fff;
              font-size: 1.3rem;
              margin: 0 10vw 0 1vw;
              transition: 400ms;
              &:hover{
                  color: $org;
              }
          }
      }
      .sticky{
        position: fixed;
        top: 0;
        right: 0;
      }
  }

/*projects*/




  /*scroll bar*/
  /* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $org; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  